{# Add embedded javascript in the HTML file.
#}
<script type="text/javascript">
  {{include_file(template_data('js/jquery-3.3.1.min.js'))}}
</script>
<script type="text/javascript">
  {{include_file(template_data('js/bootstrap.min.js'))}}
</script>
<script type="text/javascript">
  {{include_file(template_data('js/jquery.dataTables.min.js'))}}
</script>
<script type="text/javascript">
  {{include_file(template_data('js/dataTables.bootstrap4.min.js'))}}
</script>
<script type="text/javascript">
  {{include_file(template_data('js/dataTables.buttons.min.js'))}}
</script>
<script type="text/javascript">
  {{include_file(template_data('js/buttons.bootstrap4.min.js'))}}
</script>
<script type="text/javascript">
  {{include_file(template_data('js/buttons.html5.min.js'))}}
</script>
<script type="text/javascript">
  {{include_file(template_data('js/dataTables.scroller.min.js'))}}
</script>
<script type="text/javascript">
  {{include_file(template_data('js/scroller.bootstrap4.min.js'))}}
</script>
<script type="text/javascript">
  {{include_file(template_data('js/pyvif.js'))}}
</script>
