{# The side navigation bar of HTML file.
#}
<div id="sidenav-wrapper">
  <nav id="sidenav">
    <div id="sidenav-header">
      <h2><a href="#report-title">PyVIF</a></h2>
    </div>
    <ul class="list-unstyled components">
      <li class="active">
        <a href="#qc-submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Quality Control</a>
        <ul class="collapse list-unstyled" id="qc-submenu">
          <li>
            <a href="#basic-metrics">Basic Metrics</a>
          </li>
          <li>
            <a href="#virus-type">Virus Type</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#bp-submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Breakpoint Finder</a>
        <ul class="collapse list-unstyled" id="bp-submenu">
          <li>
            <a href="#bp-cluster">Breakpoint Clusters</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <div id="sidenav-logo">
    <img style="width:124px;height:124px;" src="data:image/png;base64,{{include_file(template_data('images/logo-institut-curie.png'), b64=True)}}">
  </div>
  <div id="sidenav-collapse">
    <span class="fa fa-angle-left"></span>
  </div>
</div>
